@font-face {
  font-family: 'Euclid', serif;
  src: url('euclid.ttf') format('ttf');
}
$main-font: 'Euclid', serif;

body {
  font-family: $main-font;
  color: darkblue;
}
.container {
  width:50%;
  border: 4px double darkblue;
  border-radius: 10px;
  margin: 0 auto;
  padding:4%;
}
h1 {
  text-align: center;
  width:100%;
  margin: 0 auto;
  color: darkblue;
}
.form-container {
  width: 50%;
  margin: 0 auto;
}
.input-box {
  width: 80%;
  border-radius: 10px;
  padding: 1%;
  border: 1px solid darkblue;
}